.container {
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

form {
    display: inline-block;
    padding-right: 15%;
}

input {
    border-radius: 50px;

    padding: 4px 15px 4px 5px;
}

#button {
    display: inline-block;
    background-color: #e3dac9;
    color: #5a00b3;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    padding: 5px 15px;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px;
    color: #5a00b3;
    border-radius: 50px;
}

ol li:nth-child(even) {
    background: #e3dac9;
    color: #5a00b3;
}

.strike {
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}

li.dragging {
    opacity: 0.5;
}



li>crossOutButton {
    background: none;
    border: none;
    float: right;
    color: #5a00b3;
    font-weight: 800;
}